# python .pyc files
*.pyc

# training / testing files
multi-example/*

# executables
svm_python_learn
svm_python_classify

# c object files
*.o

# training / testing data
MLDS_HW1_RELEASE_v1/*
MLDS_HW2_RELEASE_v1/*